*{
    padding: 8px;
}
@font-face {
	font-family: 'Philosopher'; 
	src: local('Phlosopher'),
		url(fonts/Philosopher/Philosopher-Regular.ttf),
        url(fonts/Philosopher/Philosopher-Bold.ttf),
        url(fonts/Philosopher/Philosopher-BoldItalic.ttf),
        url(fonts/Philosopher/Philosopher-Italic.ttf); 
        font-style: normal; 
        font-weight: normal;
}
@font-face {
	font-family: 'Montserrat_Alternates'; 
	src: local('Montserrat_Alternates'),
		url(fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-ExtraLight.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Italic.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf),
        url(fonts/Montserrat_Alternates/MontserratAlternates-Thin.ttf); 
        font-style: normal; 
        font-weight: normal;
}

h1{
    font-size: 32px;
    font-family: Philosopher;
    text-align: center;    
}
h4 {
    font-family: Philosopher;
    font-size: 22px;
    text-align: center;
}
.code-php{
    border: 1px solid rgb(48, 129, 250);
    background-color: beige;
    padding-top: 50px;
    padding-bottom: 50px;
}
.subtitle-php{
    font-size: 27px;
    font-family: Philosopher;
    color: black;
    text-align: center;
}
.subtitle-php-4{
    font-size: 22px;
    font-family: Philosopher;
    text-align: center;
    line-height: 1.5;
}
p {
    font-family: Montserrat Alternates;
    font-size: 17px;
}
.subtitle-task{
    font-size: 20px;
    font-family: Philosopher;
    padding-left: 50px;
}

.str_php{
    font-family: Montserrat Alternates;
    font-size: 17px;
    color: blue;
}